.header {
    position: relative;
    display: inline-block;
    height: 450px;
    width: 100%;
    display: flex;
}
.bg-image {
    /* position: relative; */
    position: absolute;
    background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    /* display: block; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.content-wrap {
    margin-top: 25%;
    /* display: block; */
    /* position: absolute; */
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}
h1 {
    /* position: absolute; */
    left: 20px;
}
p {
    /* position: absolute; */
    left: 40px;
    text-align: center;
    justify-content: center;
}