.header {
    /* position: relative; */
    /* display: inline-block; */
    /* height: 30%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image {
    /* position: relative; */
    position: absolute;
    background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    /* display: block; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.content-wrap {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    /* display: block; */
    /* position: absolute; */
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
h1 {
    /* position: absolute; */
    left: 20px;
}
p {
    /* position: absolute; */
    left: 40px;
    text-align: center;
    justify-content: center;
}
.content-text-a {
    display: flex;
}
.section-d {
    display: flex;
    color: white;
}
.box-left {
    width: 50%;
    background-color: rgb(6, 104, 121);
}
.box-right {
    width: 50%;
    background-color: black;
}
.content-title {
    text-align: center;
}
.main-footer {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}